<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<logger name="com.zaxxer.hikari" level="DEBUG" />
	<property name="pattern"
		value="%date{HH:mm:ss.SSS} %-5p %logger{36} %X{akkaSource} [%file:%line] - %m%n" />
	<property name="log_root_path" value="logs/" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{dd MMM yyyy - HH:mm:ss.SSS} %-5p %logger{36}
				%X{akkaSource}
				[%file:%line] - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="price-adapter-rest"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_root_path}price-adapter-rest.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_root_path}price-adapter-rest-%d{yyyy-MM-dd}-%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="price-adapter-rest" />
	</root>
</configuration>
